:root {
  --light: #f8f9fa;
  --secondary: #adb5bd;
  --dark: #343a40;
  --primary-color: #99c0ef;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("./images/eolica3.gif");  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 13%;
  margin: auto;
  padding: 0;
  display: flex;
  background: var(--dark);
  color: var(--light);
  font-size: 30px;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  text-shadow: black 1px 2px 1px;
  background-color: transparent;
  backdrop-filter: blur(50px);
}

.navbar .nav-link {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 2% 1%;
  margin-top: -0.3em;  
}

.navbar h1 {
  margin: 0;
  padding-left: 15px;
  text-align: center;
  position: relative;
  display: inline-block;
  align-self: center;
  margin-top: -0.1em;  

}

.navbar h1:hover{
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.8s;
}

.navbar a {
  font-size: x-large;
  margin: 12px;
  padding: 0;
  float: right;
  justify-content: space-around;
  
}

.navbar a:hover{
  color: var(--primary-color);
  font-size: 0.82em;
  text-decoration: underline;
  cursor: pointer;
  transition: 1s;
}

.banner {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  background-color: #343a4050;
}

.banner a{
  position: relative;
  top: 45%;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-shadow: black 2px 4px 2px;
}

.content-sect-1 {
  background-color: #ffffff10;
  backdrop-filter: blur(80px);
  display: inline-block;
  min-height: 100vh;
  max-height: max-content;
  /* height: auto; */
  /* width: 100%; */
  min-width: 100vh;
  max-width: max-content;
}

.content p{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* justify-content: center;
  vertical-align: center; */
}

.content p a{
  position: relative;
  margin-top: 10%;
  /* transform: translateY(50%); */
  vertical-align: center;
  font-size: 1.5em;
  margin-left: 10%;
  margin-right: 10%;
}

.content p img{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  font-size: 1.5em;
  border-radius: 0.5em;
}

.content-sect-1 p a {
  color: var(--dark);
}

.content-sect-1 img{
  max-width: 20em;
  max-height: 15em;
  min-height: auto;
}

.title h1{
  text-align: center;
  font-size: xx-large;
}

.content-sect-2 {
  background-image: url("./images/eolica2.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100vh;
  width: auto;
  max-width: max-content;
  max-height: max-content;
}

.content-sect-2 p a{
  color: white;
}

.lamp {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
  background-color: black;
  /* height: 100vh;
  width: 100%; */
  /* max-width: max-content; */
  max-height: max-content;
}

.lamp p {
  font-size: 2em;
  color: white
}

.lamp img {
  max-width: 20em;
  max-height: 15em;
  min-height: auto;
  min-width: auto;
}

.lamp h3 {
  text-align: center;
  font-size: xx-large;
  color: white;
}
/* #click {
  color: white;
  font-size: 1.5em;
} */

.content-sect-3 {
  background-color: #ffffff10;
  backdrop-filter: blur(80px);
  display: inline-block;
  height: auto;
  width: auto;
  max-width: max-content;
  max-height: max-content;
}
