:root {
  --light: #f8f9fa;
  --secondary: #adb5bd;
  --dark: #343a40;
  --primary-color: #99c0ef;
}

body, html {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100%;
  background-image: url("./images/eolica3.gif");  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  height: 13%;
  margin: auto;
  padding: 0;
  display: flex;
  background: var(--dark);
  color: var(--light);
  font-size: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  text-shadow: black 1px 2px 1px;
  background-color: transparent;
  backdrop-filter: blur(50px);
}

.navbar .nav-link {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 2% 1%;
  margin-top: -0.3em;  
}

.navbar h1 {
  margin: 0;
  padding-left: 15px;
  text-align: center;
  position: relative;
  display: inline-block;
  align-self: center;
  margin-top: -0.1em;  

}

.navbar h1:hover{
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.8s;
}

.navbar a {
  font-size: x-large;
  margin: 12px;
  padding: 0;
  float: right;
  justify-content: space-around;
  
}

.nav-link a {
  color: var(--light);
  text-decoration: none;
}

.navbar a:hover{
  color: var(--primary-color);
  font-size: 0.82em;
  text-decoration: underline;
  cursor: pointer;
  transition: 1s;
}

.banner {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
  background-color: #343a4050;
}

.banner a{
  position: relative;
  top: 45%;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-shadow: black 2px 4px 2px;
}

.content-sect-1 {
  background-color: #ffffff10;
  backdrop-filter: blur(80px);
  display: inline-block;
  min-height: 100vh;
  max-height: max-content;
  /* height: auto; */
  /* width: 100%; */
  min-width: 100vh;
  max-width: max-content;
}

.content p{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  /* justify-content: center;
  vertical-align: center; */
}

.content p a{
  position: relative;
  margin-top: 10%;
  /*font-size: 1.5em;*/
  margin-left: 5%;
}

.content p img{
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  font-size: 1.5em;
  border-radius: 0.5em;
  height: fit-content;
}

.content-a {
  color:black;
  margin: 0;
  display: inline-block;
}

.content-p {
  margin: 2% 5%;
}
/* <span><a href="https://brasil.un.org/pt-br/sdgs/7" target="_blank">ODS 7</a></span>*/
.content-sect-1 p a {
  color: var(--dark);
}

.content-sect-1 img{
  max-width: 20em;
  max-height: 15em;
  min-height: auto;
}

.title h1{
  text-align: center;
  font-size: xx-large;
}

.content-sect-2 {
  background-image: url("./images/eolica2.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100vh;
  width: auto;
  max-width: max-content;
  max-height: max-content;
}

.content-sect-2 p a{
  color: white;
}

.lamp {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
  background-color: black;
  /* height: 100vh;
  width: 100%; */
  /* max-width: max-content; */
  max-height: max-content;
}

.lamp p {
  font-size: 2em;
  color: white
}

.lamp img {
  max-width: 20em;
  max-height: 15em;
  min-height: auto;
  min-width: auto;
}

.lamp h3 {
  text-align: center;
  font-size: xx-large;
  color: white;
}
/* #click {
  color: white;
  font-size: 1.5em;
} */

#textoLampada {
  margin-right: 15px;
}
.content-sect-3 {
  /* background-color: #ffffff10;
  backdrop-filter: blur(80px); */
  background-color: #295872;
  display: inline-block;
  height: auto;
  width: auto;
  max-width: max-content;
  max-height: max-content;
}

.calc {
  background-image: url('./images/cortador-de-gramajpg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.open-button {
  background-color: #555;
  margin-top: 10%;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: -webkit-fill-available;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.foot-sec {
  padding-left: 2%;
  background-color: #343a40;
}

.foot-sec a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: var(--light);
}

/* Styles for Calculator Page */

.calculator {
  background-color: white;
  margin: 10% 5% 1% 5%;
  height: 80vh;
}


.calculator-cont {
  width: 100%;
  margin: 1%;
}

.calculator-cont input {
  width: calc(100% - 60px);
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.calculator-cont input:focus {
  background-color: #ddd;
  outline: none;
}

.calculator-cont .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: calc(100% - 30px);
  margin-bottom:10px;
  opacity: 0.8;
}