body, html {
  height: 100%;
  background-image: url("./images/eolica3.gif");  
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: inline-block;
  position: relative;
}

.title a{
  position: relative;
  top: 50%;
  font-size: 5em;
  font-weight: bold;
}

.first-content {
  background-color: transparent;
  background-color: #ffffff10;
  backdrop-filter: blur(1000px);
  display: inline-block;
  height: 100vh;
  width: 100%;
}

.content p{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content p a{
  position: relative;
  margin-top: 25%;
  font-size: 1.5em;
}
.content p img{
  position: relative;
  margin-top: 25%;
  font-size: 1.5em;
}

.first-content p a {
  color: black;
}

.second-content {
  background-image: url("./images/eolica2.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100vh;
  width: 100%;
}

.second-content p a{
  color: white;
}